<!-- <app-demo></app-demo> -->
<!-- <app-e1-index></app-e1-index> -->
<!-- <app-demo-oneway></app-demo-oneway> -->
<!-- <app-demo-directive></app-demo-directive> -->
<!-- <app-exercise-directive></app-exercise-directive> -->
<!-- <app-product-management>
    <p>demo ng-content</p>
</app-product-management> -->

<!-- <app-demo-data-cross-component></app-demo-data-cross-component> -->
<!-- <app-bus-index></app-bus-index> -->
<!-- <app-shopping-cart-index></app-shopping-cart-index> -->
<!-- <app-demo-lifecycle></app-demo-lifecycle> -->
<app-movie-list></app-movie-list>