h2{
    color: white;
    background-color: blue;

}

.section{
    background-color: pink;
    color: purple;
}

#div1{
    font-size: 20px;
    font-weight: bold;
    background-color: red;
}

div{
    background-color: yellow;
}

#div1.section{
    background-color: aqua;
}