<!-- Interpolation -->
<h1>Hello, {{ name }}</h1>

<!-- Property binding -->
<input type="text" [value]="name" [disabled]="disabledInput" />

<!-- Event Binding -->
<br />
<!-- <input placeholder="type email" (keyup)="getEmailHandler($event)" /> -->

<!-- Local reference -->

<input #inputEmail placeholder="type email"/>
<button class="btn btn-success" 
(click)="getEmailByClickHanlder(inputEmail.value)">Get email</button>

<p class="lead">Email người dùng nhập : {{ email }}</p>

 <!-- Two way binding -->

 <input placeholder="type phone number" [(ngModel)]="phoneNumber" />
 <p>Phone number: {{ phoneNumber }}</p>
